body,
h1,
h2,
h3,
p,
ul,
figure {
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.3;
}

.container::after,
.container::before {
    content: "";
    display: table;
    clear: both;
}
