@import "./reset.css";

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.weather {
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    padding: 20px;
    background-color: cadetblue;
}

.tab {
    display: none;
}

.tab:target {
    display: block;
}

.playlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}
